*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainDiv {
  width: 100%;
  height: 100%;
  display: flex;
}

.logoDiv {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDiv{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.loginContent{
  width: 500px;
  height: 400px;
  margin: auto;
  margin-top: 20px;
  /* border: 1px solid red; */
}

.inputDiv{
  width: 330px;
  height: 100px;
  position: relative;
}

.uid, .pwd, .locationId {
  width: 97%;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.uid:focus, .pwd:focus, .locationId:focus{
  outline: none;
}

.label_uid, .label_pwd, .label_location{
  width: 120px;
  text-align: left;
  position: absolute;
  margin-top: -113px;
}

.label_pwd{
  margin-top: -52px;
}

.label_location{
  margin-top: 7px;
}

.loginBtn{
  width: 100%;
  height: 50px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 80px;
  border: 2px solid black;
  transition: all 0.4s;
}

.loginBtn:hover{
  border: none;
  background-color: rgb(99, 99, 99);
  color: whitesmoke;
}